# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/
playwright-report/
test-results/

# next.js
/.next/
out/

# production
build/
dist/
.cache/

# misc
.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.local
.env.development
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.bak
.env.backup
backup-app-insights/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE/Editor specific
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.sublime-*
*.swp
*.swo

# Debug logs
logs/
*.log

# Important: DO NOT ignore these files
!.npmrc
!npm-shrinkwrap.json
!package-lock.json
