audit=true
fund=false
loglevel=warn
package-lock=true
progress=false
save-exact=true
engine-strict=true
ignore-scripts=true
prefer-offline=true
save-prefix=""
update-notifier=false
lockfile-version=3
fetch-retries=3
fetch-retry-mintimeout=5000
fetch-retry-maxtimeout=60000
scripts-prepend-node-path=true
foreground-scripts=false
resolution-mode=highest
force-node-version=true 